## hypothesis success: people and ratings

Grafo: vértices->pessoas; 

aresta entre duas pessoas caso tenham trabalhado juntas; 

a espessura da aresta é tanto maior quanto maior for o nº de filmes em comum

In [ ]:
# filtered name basics containing only actors and actresses
names = read.csv('./../dataset/name_basics_actors_actresses.csv',header=TRUE)

In [ ]:
head(names)

In [ ]:
df = data.frame(nconst=factor(), knownForTitles=factor())

In [ ]:
head(df)

In [ ]:
#df$nconst = rep(names$nconst, 4)

In [ ]:
#head(df)

In [8]:
merged = read.delim('./../dataset/merge_basics_ratings_crew.tsv',header=TRUE)

In [9]:
head(merged)

  tconst    titleType isAdult startYear runtimeMinutes genre1      genre2
1 tt0000001 short     0       1894       1             Documentary Short
2 tt0000002 short     0       1892       5             Animation   Short
3 tt0000003 short     0       1892       4             Animation   Comedy
4 tt0000004 short     0       1892      12             Animation   Short
5 tt0000005 short     0       1893       1             Comedy      Short
6 tt0000006 short     0       1894       1             Short       0
  genre3  averageRating numVotes n_directors n_writers
1 0       5.6           1654     1           1
2 0       6.1            199     1           1
3 Romance 6.5           1366     1           1
4 0       6.2            121     1           1
5 0       6.2           2149     1           1
6 0       5.3            115     1           1