## Arranging Title Akas

In [1]:
#tb=read.delim('cleaned_filtered_title_basics.tsv',header=TRUE)

In [2]:
#head(tb)

In [3]:
ta=read.delim('../../IMDb_Datasets_Filtered/filtered_title_akas.tsv',header=TRUE)

In [4]:
ta$ordering = NULL

In [5]:
nrow(ta[ta$attributes=='\\N',])/nrow(ta) #95.1%

[1] 0.9509263

In [6]:
ta$attributes = NULL

In [7]:
nrow(ta[ta$types=='\\N',])/nrow(ta) #52.4%

[1] 0.5235032

In [8]:
ta$types = NULL

In [9]:
nrow(ta[ta$language=='\\N',])/nrow(ta) #87.1%

[1] 0.871418

In [10]:
ta$language = NULL

In [11]:
ta$title = NULL

In [12]:
ta_clean=ta #Further changes will take place in the ta_clean dataframe

In [13]:
head(ta_clean)

  titleId   region isOriginalTitle
1 tt0000001 UA     0
2 tt0000001 DE     0
3 tt0000001 HU     0
4 tt0000001 GR     0
5 tt0000001 RU     0
6 tt0000001 US     0

In [14]:
nrow(ta_clean[ta_clean$region=='\\N',])/nrow(ta) #13.6% of missing values regarding the region attribute

[1] 0.135516

In [15]:
ta_clean=subset(ta_clean,region!='\\N') #Let's remove them

In [16]:
ta_clean[is.na(ta_clean$titleId),] #They're gone (properly gone!)

     titleId region isOriginalTitle

In [17]:
nrow(ta_clean[ta_clean$isOriginalTitle=='\\N',])/nrow(ta) #0.0016% are missing

[1] 1.628222e-05

In [18]:
ta_clean=subset(ta_clean,isOriginalTitle!='\\N') #Let's remove them

In [19]:
ta_clean[is.na(ta_clean$titleId),] #They're gone (properly gone!)

     titleId region isOriginalTitle

In [20]:
nrow(ta_clean)

[1] 1911339

In [21]:
library(readr)
write_tsv(ta_clean,'../../cleaned_filtered_title_akas.tsv')

#### (SOLVED!) If one tries to remove columns something weird happens... We obtain NA values on the titleId variable... I don't know why it happens

## Experiment

In [22]:
#titleid=unique(ta$titleId) #All titleId's

In [23]:
#length(titleid) #Number of different movies

In [ ]:
#The for cycle never stops
a=data.frame(titleid[1:length(titleid)])
regions=c()
original_tit=c()

for (i in 1:length(titleid)){
    region=ta_clean[ta_clean$titleId==titleid[i],]$region
    orig_tit=ta_clean[ta_clean$titleId==titleid[i],]$isOriginalTitle
    regions=append(regions,list(region))
    original_tit=append(original_tit,list(orig_tit))
}

a$regions=regions
a$titleOriginal=original_tit