In [2]:
library("dplyr")

Attaching package: 'dplyr'


The following objects are masked from 'package:stats':

    filter, lag


The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [1]:
name_basics = read.delim("./../dataset/filtered.name.basics.tsv",header=TRUE)
#title_akas = read.delim("./../dataset/filtered.title.akas.tsv",header=TRUE)
#title_basics = read.delim("./../dataset/filtered.title.basics.tsv",header=TRUE)
#title_principals = read.delim("./../dataset/filtered.title.principals.tsv",header=TRUE)
#title_ratings = read.delim("./../dataset/filtered.title.ratings.tsv",header=TRUE)
#title_crew = read.delim("./../dataset/filtered.title.crew.tsv",header=TRUE)

#### removing useless features

In [ ]:
title_akas$ordering = NULL
title_akas$attributes = NULL
title_akas$title = NULL

title_basics$endYear = NULL

title_principals$job = NULL
title_principals$ordering = NULL
title_principals$characters = NULL

#### name basics

In [4]:
head(name_basics)

  nconst    primaryName     birthYear deathYear
1 nm0000001 Fred Astaire    1899      306
2 nm0000002 Lauren Bacall   1924      333
3 nm0000003 Brigitte Bardot 1934        1
4 nm0000004 John Belushi    1949      301
5 nm0000005 Ingmar Bergman  1918      326
6 nm0000006 Ingrid Bergman  1915      301
  primaryProfession                   knownForTitles
1 soundtrack,actor,miscellaneous      tt0053137,tt0072308,tt0050419,tt0031983
2 actress,soundtrack                  tt0117057,tt0071877,tt0038355,tt0037382
3 actress,soundtrack,music_department tt0049189,tt0054452,tt0057345,tt0059956
4 actor,soundtrack,writer             tt0072562,tt0077975,tt0078723,tt0080455
5 writer,director,actor               tt0050986,tt0060827,tt0083922,tt0050976
6 actress,soundtrack,producer         tt0034583,tt0036855,tt0038787,tt0038109

Changing feature types:
birthYear -> int
deathYear -> int
primaryProfession and KnownForTitle needs work

In [3]:
name_basics$birthYear = as.factor(name_basics$birthYear)
name_basics$deathYear = as.numeric(name_basics$deathYear)

In [5]:
head(name_basics)

  nconst    primaryName     birthYear deathYear
1 nm0000001 Fred Astaire    1899      306
2 nm0000002 Lauren Bacall   1924      333
3 nm0000003 Brigitte Bardot 1934        1
4 nm0000004 John Belushi    1949      301
5 nm0000005 Ingmar Bergman  1918      326
6 nm0000006 Ingrid Bergman  1915      301
  primaryProfession                   knownForTitles
1 soundtrack,actor,miscellaneous      tt0053137,tt0072308,tt0050419,tt0031983
2 actress,soundtrack                  tt0117057,tt0071877,tt0038355,tt0037382
3 actress,soundtrack,music_department tt0049189,tt0054452,tt0057345,tt0059956
4 actor,soundtrack,writer             tt0072562,tt0077975,tt0078723,tt0080455
5 writer,director,actor               tt0050986,tt0060827,tt0083922,tt0050976
6 actress,soundtrack,producer         tt0034583,tt0036855,tt0038787,tt0038109

In [ ]:
worker_professions = data.frame(nconst=factor(), profession=factor())

for(i in 1:nrow(name_basics)){
    profession_list = unlist(strsplit(as.character(name_basics$primaryProfession[i]), ","),'[.]')
    
    for(profession in profession_list){
        add_row(worker_professions, nconst = name_basics$nconst[i], profession = profession)
    }
}

In [ ]:
worker_professions = data.frame(nconst=factor(), profession=factor())
add_row(worker_professions,nconst=2,profession=3)

In [ ]:
worker_professions

#### title akas

In [26]:
head(title_akas)

  titleId   region language types       isOriginalTitle
1 tt0000001 UA     \\N      imdbDisplay 0
2 tt0000001 DE     \\N      \\N         0
3 tt0000001 HU     \\N      imdbDisplay 0
4 tt0000001 GR     \\N      imdbDisplay 0
5 tt0000001 RU     \\N      imdbDisplay 0
6 tt0000001 US     \\N      \\N         0

#### title basics

In [11]:
head(title_basics)

  tconst    titleType primaryTitle           originalTitle          isAdult
1 tt0000001 short     Carmencita             Carmencita             0
2 tt0000002 short     Le clown et ses chiens Le clown et ses chiens 0
3 tt0000003 short     Pauvre Pierrot         Pauvre Pierrot         0
4 tt0000004 short     Un bon bock            Un bon bock            0
5 tt0000005 short     Blacksmith Scene       Blacksmith Scene       0
6 tt0000006 short     Chinese Opium Den      Chinese Opium Den      0
  startYear runtimeMinutes genres
1 1894      1              Documentary,Short
2 1892      5              Animation,Short
3 1892      4              Animation,Comedy,Romance
4 1892      12             Animation,Short
5 1893      1              Comedy,Short
6 1894      1              Short

Changing feature types:
isAdult -> factor
startYear -> int
runtimeMinutes -> int
genres needs

In [22]:
title_basics$isAdult = as.factor(title_basics$isAdult)
title_basics$startYear = as.numeric(title_basics$startYear)
title_basics$runtimeMinutes = as.numeric(title_basics$runtimeMinutes)

In [28]:
head(title_basics)

  tconst    titleType primaryTitle           originalTitle          isAdult
1 tt0000001 short     Carmencita             Carmencita             0
2 tt0000002 short     Le clown et ses chiens Le clown et ses chiens 0
3 tt0000003 short     Pauvre Pierrot         Pauvre Pierrot         0
4 tt0000004 short     Un bon bock            Un bon bock            0
5 tt0000005 short     Blacksmith Scene       Blacksmith Scene       0
6 tt0000006 short     Chinese Opium Den      Chinese Opium Den      0
  startYear runtimeMinutes genres
1 14          3            Documentary,Short
2 12        384            Animation,Short
3 12        340            Animation,Comedy,Romance
4 12         32            Animation,Short
5 13          3            Comedy,Short
6 14          3            Short

#### title principals

In [17]:
head(title_principals)

  tconst    nconst    category
1 tt0000001 nm1588970 self
2 tt0000001 nm0005690 director
3 tt0000001 nm0374658 cinematographer
4 tt0000002 nm0721526 director
5 tt0000002 nm1335271 composer
6 tt0000003 nm0721526 director

#### title ratings

In [18]:
head(title_ratings)

  tconst    averageRating numVotes
1 tt0000001 5.6           1654
2 tt0000002 6.1            199
3 tt0000003 6.5           1366
4 tt0000004 6.2            121
5 tt0000005 6.2           2149
6 tt0000006 5.3            115

#### title crew

In [19]:
head(title_crew)

  tconst    directors writers
1 tt0000001 nm0005690 \\N
2 tt0000002 nm0721526 \\N
3 tt0000003 nm0721526 \\N
4 tt0000004 nm0721526 \\N
5 tt0000005 nm0005690 \\N
6 tt0000006 nm0005690 \\N