## Arranging Title Akas

In [1]:
tb=read.delim('cleaned_filtered_title_basics.tsv',header=TRUE)

In [2]:
ta=read.delim('IMDb_Datasets_Filtered/filtered_title_akas.tsv',header=TRUE)

In [3]:
head(tb)

  tconst    titleType isAdult startYear runtimeMinutes genre1      genre2
1 tt0000001 short     0       1894       1             Documentary Short
2 tt0000002 short     0       1892       5             Animation   Short
3 tt0000003 short     0       1892       4             Animation   Comedy
4 tt0000004 short     0       1892      12             Animation   Short
5 tt0000005 short     0       1893       1             Comedy      Short
6 tt0000006 short     0       1894       1             Short       0
  genre3
1 0
2 0
3 Romance
4 0
5 0
6 0

In [4]:
ta$ordering = NULL

In [5]:
ta$attributes = NULL

In [6]:
ta$types = NULL

In [7]:
ta$language = NULL

In [8]:
ta$title = NULL

In [9]:
library(readr)
write_tsv(ta,'cleaned_filtered_title_akas.tsv')

#### If one tries to remove columns something weird happens... We obtain NA values on the titleId variable... I don't know why it happens

## Experiment

In [11]:
titleid=unique(ta$titleId) #All titleId's

In [12]:
length(titleid) #Number of different movies

[1] 908112

In [13]:
ta_clean=ta

In [ ]:
#The for cycle never stops
a=data.frame(titleid[1:length(titleid)])
regions=c()
original_tit=c()

for (i in 1:length(titleid)){
    region=ta_clean[ta_clean$titleId==titleid[i],]$region
    orig_tit=ta_clean[ta_clean$titleId==titleid[i],]$isOriginalTitle
    regions=append(regions,list(region))
    original_tit=append(original_tit,list(orig_tit))
}

a$regions=regions
a$titleOriginal=original_tit