In [1]:
tc=read.delim('IMDb_Datasets_Filtered/cleaned_filtered_title_crew.tsv',header=TRUE)

In [2]:
tb=read.delim('cleaned_filtered_title_basics.tsv',header=TRUE)

In [3]:
tr=read.delim('IMDb_Datasets_Filtered/filtered_title_ratings.tsv',header=TRUE)

In [4]:
head(tb)

  tconst    titleType isAdult startYear runtimeMinutes genre1      genre2
1 tt0000001 short     0       1894       1             Documentary Short
2 tt0000002 short     0       1892       5             Animation   Short
3 tt0000003 short     0       1892       4             Animation   Comedy
4 tt0000004 short     0       1892      12             Animation   Short
5 tt0000005 short     0       1893       1             Comedy      Short
6 tt0000006 short     0       1894       1             Short       0
  genre3
1 0
2 0
3 Romance
4 0
5 0
6 0

In [5]:
tbtr=merge(tb,tr, by="tconst",all.x=TRUE) #Merging title_basics with title_ratings
#The all.x = True means that the movies which are in title_ratings but are not in title_basics won't be in tbtr

In [6]:
nrow(tbtr)
nrow(tb)
#As expected, the number of rows is the same

[1] 1277962

[1] 1277962

In [7]:
head(tbtr)

  tconst    titleType isAdult startYear runtimeMinutes genre1      genre2
1 tt0000001 short     0       1894       1             Documentary Short
2 tt0000002 short     0       1892       5             Animation   Short
3 tt0000003 short     0       1892       4             Animation   Comedy
4 tt0000004 short     0       1892      12             Animation   Short
5 tt0000005 short     0       1893       1             Comedy      Short
6 tt0000006 short     0       1894       1             Short       0
  genre3  averageRating numVotes
1 0       5.6           1654
2 0       6.1            199
3 Romance 6.5           1366
4 0       6.2            121
5 0       6.2           2149
6 0       5.3            115

In [8]:
tbtrtc=merge(tbtr,tc,by='tconst',all.x=TRUE) #Merging tbtr with title_crew
#All movies which are in title_crew but not in title_basics will not be merged

In [9]:
nrow(tbtrtc) #As expected

[1] 1277962

In [10]:
head(tbtrtc)
tail(tbtrtc)

  tconst    titleType isAdult startYear runtimeMinutes genre1      genre2
1 tt0000001 short     0       1894       1             Documentary Short
2 tt0000002 short     0       1892       5             Animation   Short
3 tt0000003 short     0       1892       4             Animation   Comedy
4 tt0000004 short     0       1892      12             Animation   Short
5 tt0000005 short     0       1893       1             Comedy      Short
6 tt0000006 short     0       1894       1             Short       0
  genre3  averageRating numVotes n_directors n_writers
1 0       5.6           1654     1           1
2 0       6.1            199     1           1
3 Romance 6.5           1366     1           1
4 0       6.2            121     1           1
5 0       6.2           2149     1           1
6 0       5.3            115     1           1

        tconst    titleType isAdult startYear runtimeMinutes genre1      genre2
1277957 tt9916720 short     0       2019      10             Comedy      Horror
1277958 tt9916724 short     0       2015       3             Documentary Short
1277959 tt9916754 movie     0       2013      49             Documentary 0
1277960 tt9916756 short     0       2019      -1             Short       0
1277961 tt9916764 short     0       2018      -1             Short       0
1277962 tt9916856 short     0       2015      27             Short       0
        genre3  averageRating numVotes n_directors n_writers
1277957 Mystery  6            64       1           1
1277958 0       NA            NA       1           1
1277959 0       NA            NA       2           2
1277960 0       NA            NA       1           1
1277961 0       NA            NA       1           4
1277962 0       NA            NA       1           1

In [11]:
tbtrtc[is.na(tbtrtc$averageRating),9]=-1 #Replacing the missing averageRatings by -1

In [12]:
tbtrtc[is.na(tbtrtc$numVotes),10]=-1 #Replacing the missing numVotes by -1

In [13]:
tbtrtc[is.na(tbtrtc$n_directors),11]=-1 #Replacing the missing n_directors by -1

In [14]:
tbtrtc[is.na(tbtrtc$n_writers),12]=-1 #Replacing the missing n_writers by -1

In [15]:
library(readr)
write_tsv(tbtrtc,'merge_basics_ratings_crew.tsv')