In [1]:
nb=read.delim('./../dataset/cleaned_filtered_name_basics.tsv')

In [2]:
merge=read.delim('./../dataset/merge_basics_ratings_crew.tsv')

In [3]:
head(nb)

  nconst    primaryName     primaryProfession1 primaryProfession2
1 nm0000001 Fred Astaire    soundtrack         actor
2 nm0000002 Lauren Bacall   actress            soundtrack
3 nm0000003 Brigitte Bardot actress            soundtrack
4 nm0000004 John Belushi    actor              soundtrack
5 nm0000005 Ingmar Bergman  writer             director
6 nm0000006 Ingrid Bergman  actress            soundtrack
  primaryProfession3 knownForTitles1 knownForTitles2 knownForTitles3
1 miscellaneous      tt0053137       tt0072308       tt0050419
2 0                  tt0117057       tt0071877       tt0038355
3 music_department   tt0049189       tt0054452       tt0057345
4 writer             tt0072562       tt0077975       tt0078723
5 actor              tt0050986       tt0060827       tt0083922
6 producer           tt0034583       tt0036855       tt0038787
  knownForTitles4 isDead
1 tt0031983       1
2 tt0037382       1
3 tt0059956       0
4 tt0080455       1
5 tt0050976       1
6 tt0038109       1

In [4]:
head(merge)

  tconst    titleType isAdult startYear runtimeMinutes genre1      genre2
1 tt0000001 short     0       1894       1             Documentary Short
2 tt0000002 short     0       1892       5             Animation   Short
3 tt0000003 short     0       1892       4             Animation   Comedy
4 tt0000004 short     0       1892      12             Animation   Short
5 tt0000005 short     0       1893       1             Comedy      Short
6 tt0000006 short     0       1894       1             Short       0
  genre3  averageRating numVotes n_directors n_writers
1 0       5.6           1654     1           1
2 0       6.1            199     1           1
3 Romance 6.5           1366     1           1
4 0       6.2            121     1           1
5 0       6.2           2149     1           1
6 0       5.3            115     1           1

In [5]:
titles1=nb[,6,drop=F]
titles2=nb[,7,drop=F]
titles3=nb[,8,drop=F]
titles4=nb[,9,drop=F]
colnames(titles1)='tconst'
colnames(titles2)='tconst'
colnames(titles3)='tconst'
colnames(titles4)='tconst'

In [6]:
titles1[(titles1$tconst=="0"),]= "NA"
titles2[(titles2$tconst=="0"),] = "NA"
titles3[(titles3$tconst=="0"),] = "NA"
titles4[(titles4$tconst=="0"),] = "NA"

Warning message in `[<-.factor`(`*tmp*`, iseq, value = c("NA", "NA", "NA", "NA", :
“invalid factor level, NA generated”Warning message in `[<-.factor`(`*tmp*`, iseq, value = c("NA", "NA", "NA", "NA", :
“invalid factor level, NA generated”Warning message in `[<-.factor`(`*tmp*`, iseq, value = c("NA", "NA", "NA", "NA", :
“invalid factor level, NA generated”

In [7]:
ratings=merge[,c(1,9)]

In [8]:
summary(ratings)

       tconst        averageRating
 tt0000001:      1   Min.   : 1.0
 tt0000002:      1   1st Qu.: 5.6
 tt0000003:      1   Median : 6.5
 tt0000004:      1   Mean   : 6.4
 tt0000005:      1   3rd Qu.: 7.3
 tt0000006:      1   Max.   :10.0
 (Other)  :1277956   NA's   :866725

In [9]:
ratings = ratings[complete.cases(ratings),]

In [10]:
tail(titles4)

        tconst
1532129 NA
1532130 NA
1532131 tt9097592
1532132 tt11212278
1532133 tt11702702
1532134 tt11772904

In [11]:
summary(ratings)

       tconst       averageRating
 tt0000001:     1   Min.   : 1.000
 tt0000002:     1   1st Qu.: 5.600
 tt0000003:     1   Median : 6.500
 tt0000004:     1   Mean   : 6.383
 tt0000005:     1   3rd Qu.: 7.300
 tt0000006:     1   Max.   :10.000
 (Other)  :411231

In [12]:
nrow(titles1)

[1] 1532134

In [13]:
library(tidyverse)

Registered S3 methods overwritten by 'ggplot2':
  method         from
  [.quosures     rlang
  c.quosures     rlang
  print.quosures rlang
Registered S3 method overwritten by 'rvest':
  method            from
  read_xml.response xml2
── Attaching packages ─────────────────────────────────────── tidyverse 1.2.1 ──
✔ ggplot2 3.1.1     ✔ purrr   0.3.2
✔ tibble  3.0.4     ✔ dplyr   1.0.2
✔ tidyr   0.8.3     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.4.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [14]:
titles_1_join = left_join(titles1,ratings,by="tconst")
titles_2_join = left_join(titles2,ratings,by="tconst")
titles_3_join = left_join(titles3,ratings,by="tconst")
titles_4_join = left_join(titles4,ratings,by="tconst")

In [15]:
tail(titles4)

        tconst
1532129 NA
1532130 NA
1532131 tt9097592
1532132 tt11212278
1532133 tt11702702
1532134 tt11772904

In [16]:
tail(titles_4_join)

        tconst     averageRating
1532129 NA         NA
1532130 NA         NA
1532131 tt9097592  NA
1532132 tt11212278 NA
1532133 tt11702702 NA
1532134 tt11772904 NA

In [17]:
titles=cbind(titles_1_join,titles_2_join,titles_3_join,titles_4_join)

In [18]:
head(titles)

  tconst    averageRating tconst    averageRating tconst    averageRating
1 tt0053137 7.2           tt0072308 7.0           tt0050419 7.0
2 tt0117057 6.6           tt0071877 7.3           tt0038355 7.9
3 tt0049189 6.3           tt0054452 7.6           tt0057345 7.6
4 tt0072562  NA           tt0077975 7.5           tt0078723 5.8
5 tt0050986 8.2           tt0060827 8.1           tt0083922 8.1
6 tt0034583 8.5           tt0036855 7.8           tt0038787 7.9
  tconst    averageRating
1 tt0031983 6.9
2 tt0037382 7.8
3 tt0059956 6.4
4 tt0080455 7.9
5 tt0050976 8.2
6 tt0038109 7.6

In [19]:
tail(titles)

        tconst     averageRating tconst     averageRating tconst
1532129 tt10427366  NA           tt8295580  NA            tt10979852
1532130 tt9815360  3.8           tt8737752  NA            NA
1532131 tt10140990  NA           tt8737752  NA            tt9083282
1532132 tt10627062  NA           tt6225166  NA            tt6914160
1532133 tt11772940  NA           tt11772858 NA            tt11772904
1532134 tt11772858  NA           tt11772940 NA            tt11702702
        averageRating tconst     averageRating
1532129 NA            NA         NA
1532130 NA            NA         NA
1532131 NA            tt9097592  NA
1532132 NA            tt11212278 NA
1532133 NA            tt11702702 NA
1532134 NA            tt11772904 NA

In [20]:
nrow(titles)

[1] 1532134

In [21]:
ratings_titles=titles[,c(2,4,6,8)]

In [22]:
row_means = rowMeans(ratings_titles, na.rm = TRUE,dims = 1)

In [23]:
head(row_means)

[1] 7.025000 7.400000 6.975000 7.066667 8.150000 7.950000

In [24]:
summary(row_means)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.    NA's
    1.0     5.7     6.5     6.4     7.2    10.0  662884

In [25]:
#remove NAs
row_means = row_means[complete.cases(row_means)]

In [26]:
summary(row_means)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  1.000   5.700   6.500   6.395   7.200  10.000

In [27]:
library(ggplot2)

In [28]:
row_means_df=data.frame(row_means)

In [29]:
head(row_means_df)

  row_means
1 7.025000
2 7.400000
3 6.975000
4 7.066667
5 8.150000
6 7.950000

In [33]:
g = ggplot(row_means_df,aes(x="",y=row_means)) + geom_violin(fill="skyblue",color="skyblue4",alpha=0.3)+
geom_boxplot(width=0.4,fill="white",color="skyblue4") +
theme_bw(base_size = 15)+
scale_y_continuous(breaks=seq(0,10,1))+
coord_flip()+
theme(axis.title.y=element_blank(),axis.text.y=element_blank(),
axis.ticks.y=element_blank(),legend.position="none",plot.title=element_text(
hjust=0.5,size=30)) +
labs(y=expression("Mean Average Ratings"),x="")

In [34]:
ggsave(plot=g,file="average_ratings_per_person.png",width=3,height=3,dpi=300)